body{
    padding: 0px 50px 0px 50px;
    margin: 0px;
    background-color: #F5F7FA;
}

header{
    margin: 0px;
    width: 100%;
    height: 60px;
    background-color: #1E3A5F;
    color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

ul{
    margin: 0px;
    list-style-type: none;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a:hover{
    color: #38BDF8;
}

/*TENTATIVA SIDEBAR*/

.content{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

aside{
    display: flex;
    flex-grow: 2;
    background-color: #243447;
    width: 200px;
    height: 800px;
    border: solid 1px #E5E7EB;
    margin: 30px 0px 0px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.aside_list{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.list{
    list-style-type: none;
    color: white;
}   


/*MAIN CARDS*/

.container{
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-shrink: 4;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.card{
    display: flex;
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    border: solid 1px #E5E7EB;
    color: #111827;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}